<div id=availableornm class="container">
<div id="Necklace1"class="card mb-4" style="max-width: 340px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath5" class="img-fluid rounded-start" alt="height:40px width:40px">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Gold Necklace</h1>
           
            
      </div>
    </div>
  </div>
  </div>
  

  <div id="Necklace2"class="card mb-4" style="max-width: 340px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath6" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Beads Necklace </h1>
          
      </div>
    </div>
  </div>
  </div>
  <div id="Necklace3"class="card mb-4" style="max-width: 340px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath7" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Swarnika Necklace  </h1>
          
      </div>
    </div>
  </div>
  </div>
  <div id="Necklace4"class="card mb-4" style="max-width: 340px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath8" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Diamond pendent necklace </h1>
         
      </div>
    </div>
  </div>
  </div>









  <div id="Earrings1"class="card mb-4" style="max-width: 340px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath9" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Jhumkas</h1>
            
      </div>
    </div>
  </div>
  </div>
  <div id="Earrings2"class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath10" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Stud earrings </h1>
         
      </div>
    </div>
  </div>
  </div>

  <div id="Earrings3" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath11" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Leverback earrings </h1>
         
      </div>
    </div>
  </div>
  </div>



  <div id="Earrings4" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath12" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Huggie Earrings</h1>
          
      </div>
    </div>
  </div>
  </div>


  <div id="Chain1"class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath13" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title"> Rope Chain</h1>
         
      </div>
    </div>
  </div>
  </div>

  <div  id="Chain2" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath14" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">pendent chain </h1>
          
      </div>
    </div>
  </div>
  </div>


  <div  id="Chain3" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath40" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Anchor Chain</h1>
          
      </div>
    </div>
  </div>
  </div>


  <div  id="Chain4" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath41" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Curb chain </h1>
         
      </div>
    </div>
  </div>
  </div>

  <div  id="Bangle1" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath42" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Era Uncut Diamond Gold Bangle </h1>
          
          
      </div>
    </div>
  </div>
  </div>

  <div id="Bangle2" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath43" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Gold Emerald Bangles </h1>
         
      </div>
    </div>
  </div>
  </div>
  

  <div  id="Bangle3" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath44" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title"> Uncut Bangle With Ruby Stones</h1>
          
      </div>
    </div>
  </div>
  </div>

  <div id="Bangle4" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath45" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Stone Studded Mayur Peacock Gold Bangle </h1>
          
      </div>
    </div>
  </div>
  </div>
  <div id="Ring1" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath46" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Diamond Ring </h1>
          
          
      </div>
    </div>
  </div>
  </div>
  <div id="Ring2" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath47" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Wedding Rings </h1>
          
          
      </div>
    </div>
  </div>
  </div>
  <div id="Ring3" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath48" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title"> Stone Ring</h1>
         
          
      </div>
    </div>
  </div>
  </div>
  <div id="Ring4" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath49" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Alphabet Ring </h1>
          
          
      </div>
    </div>
  </div>
  </div>
 
</div>
