*{
box-sizing: border-box;
}

.bg-img {
  background-image: url("nature.jpg");
  min-height: 380px;
  width: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg-img:hover{
opacity:0.8;
}
section article{
height: 50px;
width: 500px;
border: 5px solid pink;
padding: 50px 50px;
margin: 40px auto;
position: center;
background-color:white;
opacity: 0.1;
}

section article:hover{
opacity: 1.0;
}