#cart{
    background-color: blanchedalmond;
    text-align: center;
    
   
}

#d{
    background-color: blanchedalmond;
    text-align: center;
    margin-left: 100px;
}
#h{
    background-color: blanchedalmond;
text-align: center;
     
}
#b{
    background-color: blanchedalmond;
text-align: center;
}