<nav class="navbar navbar-expand-lg navbar-red bg-black">
  <div class="container-fluid">
    <a id="b" class="navbar-brand" href="#Necklace1"><b><h1>JEWELLERY-SHOP</h1></b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="column">
      <ul id="nav-item" class="navbar-nav-item" >
       
        <li class="nav-inline-item">
       
          <a class="nav-link active"  aria-current="page" href="#sect1"><b>Home</b></a>
        </li>
      
  &nbsp;

        <li class="nav-inline-item">
         
          <a class="nav-link" href="#aboutus"><b>About us</b></a>

        </li>
        &nbsp;
        <li class="nav-inline-item">
          
          <a class="nav-link" href="#contact us"><b>Contact us</b></a>
        </li>
        &nbsp;
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#availableornm" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <b>Available ornaments</b>
            </a>
            </li>
            &nbsp;
            <li class="nav-inline-item">
          
              <a class="nav-link" href="#order"><b>Place a Order</b></a>
            </li>
            &nbsp;
            <li class="nav-inline-item">
          
              <a class="nav-link" href="#cart"><b>Add to Cart</b></a>
            </li>
        <br>
          <br>
          <ul id="d" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li ><a class="dropdown-item" href="#Earrings1">EARRINGS</a></li>
            
            <li><a class="dropdown-item" href="#Necklace1">NECKLACE</a></li>
            
            <li><a class="dropdown-item" href="#Chain1">CHAINS</a></li>
            
            <li><a class="dropdown-item" href="#Bangle1">BANGLES</a></li>
          
            <li><a class="dropdown-item" href="#Ring1">RINGS</a></li>
          </ul>
        
      </ul>
      
    </div>
  </div>
</div>
</nav>

<app-home></app-home>
  <app-product></app-product>
  
  <app-aboutus></app-aboutus>
  <app-contactus></app-contactus>
  <app-availableornm></app-availableornm>
  <app-order></app-order>
  <app-cart></app-cart>
  