<div id="contact us" class="container-fluid bg-grey">
    <div id="b1"class="card-body">
    <h2 id="f1" class="text-center">contact us</h2>
    <div class="row">
      <div class="col-sm-5">
        <p>Contact us and we'll get back to you within 24 hours.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>Location: Hyderabad,India</p>
        <p><span class="glyphicon glyphicon-phone"></span>Telephone number: +00 6409876543</p>
        <p><span class="glyphicon glyphicon-envelope"></span>Mail: mymailjewellery@gmail.com</p>
      
      </div>
      <div class="col">
        <div class="card">
          <img [src]='imgpath1'  style="max-width:100px;" class="card-img-top" alt="...">
          <div id="b1"class="card-body">
            <h4 id="f2" class="card-title">Follow us on faceboook :Myjewellery</h4>
            <img [src]='imgpath2'  style="max-width:100px;" class="card-img-top" alt="...">
            <div id="b1"class="card-body">
              <h4 id="f2" class="card-title">Follow us on instagram :Myjewellery</h4> 
              </div>
              
          </div>
          </div>
          </div>
      <div class="col-sm-7 slideanim">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
       
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Send</button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
