
<div  id="aboutus"class="about-section">
    <div id="b1"class="card-body">
    <h1 class="title">About Us </h1>
    <p>Custom Jewelley shop. Find what you are Looking for in 1 Minute or Less! The Best Resources. Always Facts. Results & Answers. 100% Secure. Unlimited Access. Privacy Friendly. 
        Services: Best Results, Explore Now, New Sources, Best in Search.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img [src]='imgpath1'  style="max-width:100px;" class="card-img-top" alt="jane">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>A founder CEO is an individual who establishes a company and holds its chief executive officer (CEO) position.</p>
          <p>jane444@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img [src]='imgpath2'  style="max-width:100px;" class="card-img-top" alt="Mike">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>The art department is the team responsible for creating the overall look of a television show or feature film, as determined by the director..</p>
          <p>mike223@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img [src]='imgpath3'  style="max-width:100px;" class="card-img-top" alt="John">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>A designer is a person who plans the form or structure of something before it is made, by preparing drawings or plan.</p>
          <p>john123@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>