<div id="Necklace1"class="card mb-4" style="max-width: 340px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath20" class="img-fluid rounded-start" alt="height:40px width:40px">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Gold Necklace</h1>
            <h2 class="card-price">prize:$60000</h2>
            <h3 class="card-carrot">#24carrot(KDM)</h3>
            <h4 class="card-weight">Weight:32grms</h4>
          
            
      </div>
    </div>
  </div>
  </div>
  

  <div id="Necklace2"class="card mb-4" style="max-width: 340px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath21" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Beads Necklace </h1>
          <h2 class="card-price">prize:$55000</h2>
          <h3 class="card-carrot">#24carrot(KDM)</h3>
          <h4 class="card-weight">Weight:22grms</h4>
          
      </div>
    </div>
  </div>
  </div>
  <div id="Necklace3"class="card mb-4" style="max-width: 340px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath22" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Swarnika Necklace  </h1>
          <h2 class="card-price">prize:$85000</h2>
          <h3 class="card-metal">metal:copper alloy</h3>
          <h4 class="card-weight">Weight:42grms</h4>
          
      </div>
    </div>
  </div>
  </div>
  <div id="Necklace4"class="card mb-4" style="max-width: 340px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath23" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Diamond pendent necklace </h1>
          <h2 class="card-price">prize:$150000</h2>
          <h3 class="card-type">Type:Pure Diamond</h3>
          <h4 class="card-weight">Weight:34grms</h4>
          
      </div>
    </div>
  </div>
  </div>









  <div id="Earrings1"class="card mb-4" style="max-width: 340px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath15" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Jhumkas</h1>
            <h2 class="card-price">prize:$25000</h2>
            <h3 class="card-carrot">#24carrot(KDM)</h3>
            <h4 class="card-weight">Weight:12grms </h4>
          
      </div>
    </div>
  </div>
  </div>
  <div id="Earrings2"class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath16" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Stud earrings </h1>
          <h2 class="card-price">prize:$15000</h2>
          <h3 class="card-type">Type:stones&pierces</h3>
          <h4 class="card-weight">Weight:8grms</h4>
          
      </div>
    </div>
  </div>
  </div>

  <div id="Earrings3" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath17" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Leverback earrings </h1>
          <h2 class="card-price">prize:$30000</h2>
          <h3 class="card-type">Type:Diamond</h3>
          <h4 class="card-weight">Weight:10grms</h4>
          
      </div>
    </div>
  </div>
  </div>



  <div id="Earrings4" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath18" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Huggie Earrings</h1>
          <h2 class="card-price">prize:$18000</h2>
          <h3 class="card-carrot">24carrot(KDM)</h3>
          <h4 class="card-weight">Weight:12grms</h4>
          
      </div>
    </div>
  </div>
  </div>


  <div id="Chain1"class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath30" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title"> Rope Chain</h1>
          <h2 class="card-price">prize:$13200</h2>
          <h3 class="card-carrot">#24carrot(KDM)</h3>
          <h4 class="card-weight">Weight:22grms </h4>
          
      </div>
    </div>
  </div>
  </div>

  <div  id="Chain2" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath27" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">pendent chain </h1>
          <h2 class="card-price">prize:$10000</h2>
          <h3 class="card-type">Type:Stone</h3>
          <h4 class="card-weight">Weight:18grms</h4>
          
      </div>
    </div>
  </div>
  </div>


  <div  id="Chain3" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath28" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Anchor Chain</h1>
          <h2 class="card-price">prize:$8200</h2>
          <h3 class="card-type">Type:Gold plated</h3>
          <h4 class="card-weight">Weight:22grms</h4>
          
      </div>
    </div>
  </div>
  </div>


  <div  id="Chain4" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath26" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Curb chain </h1>
          <h2 class="card-price">prize:$8900</h2>
          <h3 class="card-type">Type:Silver plated</h3>
          <h4 class="card-weight">Weight:16grms</h4>
          
      </div>
    </div>
  </div>
  </div>

  <div  id="Bangle1" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath32" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Era Uncut Diamond Gold Bangle </h1>
          <h2 class="card-price">prize:$32000</h2>
          <h3 class="card-weight">Weight:20grms</h3>
          
          
      </div>
    </div>
  </div>
  </div>

  <div id="Bangle2" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath33" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Gold Emerald Bangles </h1>
          <h2 class="card-price">prize:112000</h2>
          <h3 class="card-weight">Weight:24grms</h3>
          
          
      </div>
    </div>
  </div>
  </div>
  

  <div  id="Bangle3" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath35" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title"> Uncut Bangle With Ruby Stones</h1>
          <h2 class="card-price">prize:$15000</h2>
          <h3 class="card-weight">Weight:20grms</h3>
          
          
      </div>
    </div>
  </div>
  </div>

  <div id="Bangle4" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath34" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Stone Studded Mayur Peacock Gold Bangle </h1>
          <h2 class="card-price">prize:$17500</h2>
          <h3 class="card-weight">Weight:26grms</h3>
          
          
      </div>
    </div>
  </div>
  </div>
  <div id="Ring1" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath36" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Diamond Ring </h1>
          <h2 class="card-price">prize:165000</h2>
          <h3 class="card-weight">Weight:26grms</h3>
          
          
      </div>
    </div>
  </div>
  </div>
  <div id="Ring2" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath37" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Wedding Rings </h1>
          <h2 class="card-price">prize:$75000</h2>
          <h3 class="card-weight">Weight:26grms,24grms</h3>
          
          
      </div>
    </div>
  </div>
  </div>
  <div id="Ring3" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath38" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title"> Stone Ring</h1>
          <h2 class="card-price">prize:$17500</h2>
          <h3 class="card-weight">Weight:16grms</h3>
          
          
      </div>
    </div>
  </div>
  </div>
  <div id="Ring4" class="card mb-4" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="imgpath39" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h1 class="card-title">Alphabet Ring </h1>
          <h2 class="card-price">prize:$19500</h2>
          <h3 class="card-weight">Weight:19grms</h3>
          
          
      </div>
    </div>
  </div>
  </div>
  <div id="sect1"class="container">       
  </div> 
