#b1,#f2
{
background-color:  #00ff4c;
}
#f1,#b2
{
    background-color:pink;
}
#b3,#f3
{
    background-color:rgb(226, 241, 12);
}
#b4,#f4{
    background-color: rgb(245, 12, 51) ;
}
#b5,#f5{
    background-color: powderblue;
}




