<div id="sect1"class="container">       
</div> 
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img [src]='imgpath11'  style="max-width:270px;" class="card-img-top" alt="...">
      <div id="b1"class="card-body">
        <h3 id="f2" class="card-title">EARRINGS</h3>
        <p class="card-text">Earrings - Shop from the latest collection of Earrings for women & girls online. Buy studs, ear cuff, drop & more Earrings at best price ✯ Free Shipping.
            Earrings are one of the primary form of the jewellery found throughout the history. These are the ornaments which are worn to decorate. </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img [src]='imgpath12'  style="max-width: 270px;"class="card-img-top" alt="...">
      <div id="b2"class="card-body">
        <h3 id="f1" class="card-title">NECKLACE</h3>
        <p class="card-text"> Shop Necklace for men, women & girls online in India. Choose from ethnic and western necklace at best price
            A necklace is a type of jewellery worn around the neck. It is normally made of flexible structures such as a chain or a series of beads .</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img [src]='imgpath13' style="max-width: 270px;" class="card-img-top" alt="...">
      <div id="b3" class="card-body">
        <h3 id="f3"class="card-title">CHAINS</h3>
        <p class="card-text">Gold Dailywear Chains . Gold has always been the choice of metal for daily wear not
         only because the metal is non-reactive While you buy daily wear gold chain online, you must also decide
         on what color of jewellery you want. We gives you various choices to choose your gold . </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div  class="card">
      <img [src]='imgpath14'  style="max-width: 270px;"class="card-img-top" alt="height:200">
      <div id="b4" class="card-body">
        <h3 id="f4" class="card-title">BANGLES</h3>
        <p class="card-text">Bangles - Buy designer Bangles Online for women & girls in India. Shop from our fancy collection of Bangles in different sizes, plating, stone type & more .
            The Bangle designs are usually circular in shape and with simple to intricate designs. They are studded with diamonds, other precious.</p>
      </div>
      <div class="col">
        <div class="card">
          <img [src]='imgpath15'  style="max-width: 270px;"class="card-img-top" alt="...">
          <div id="b5" class="card-body">
            <h3 id="f5" class="card-title">RINGS</h3>
            <p class="card-text">Shop from the latest collection of finger rings online for men & women. Choose from a wide range of Dimond & Golden Rings by top Brands
                Buy Modern Gold & Diamond Finger Rings For Women & Men. Latest Couple Rings Online At Best Price In India.  </p>
          </div>
    </div>
  </div>
</div>
